body {
    background-color: #ffe9f4;
    color: maroon;
    font-family: 'Asap', cursive;
    margin: 0;
    padding: 0;
}
body.dark {
    background-color: #1a0669;
    color: #ffe9f4;
}


/* NAVIGATION BAR STYLING */
.navbar {
    width: 100%;
    margin: 0;
    top: 0;
    z-index: 100;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
}

.navname {
    position: relative;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 47px;
    color: maroon;
    font-weight: 600;
}
.navname.dark {
    color: #ffe9f4;
}

.navname a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    overflow: visible;
}

.navli {
    margin-top:10px;
    list-style: none;
    display: inline-block;
}

.navli a {
    text-decoration: none;
    font-size: 25px;
    margin-right: 50px;
    color: maroon;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}
.navli a.dark {
    color: #ffe9f4;
}

#leftmost {
    margin-right: 100px;
}

.navbar a:hover {
    color:firebrick;
}
.navbar a.dark:hover {
    color: #f9bddb;
}

#theme {
    all: unset;
    cursor: pointer;
    color: maroon; 
    font-size: 30px; 
    padding: 0;
    margin: 0;
    transition: color 0.3s ease;
}
#theme.dark{
    color:#ffe9f4;
}

#theme:hover {
    color:firebrick;
}
#theme.dark:hover {
    color: #f9bddb;
}


/* FOOTER STYLING */
footer {
    background-color:rgb(234, 190, 79);
    color:rgb(97, 97, 97);
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    margin-top: 10px;
}
footer.dark {
    background-color: lightslategray;
    color:azure;
}

footer a {
    color: rgb(97, 97, 97);
    text-decoration: none;
}
footer a.dark {
    color:azure;
}

footer a:hover {
    color:maroon;
    text-decoration: underline;
}
footer a.dark:hover {
    color:bisque;
}

